.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
    font-size: 0.8em;
}

.pagination span {
    color: #5b6a76;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination span.active {
    background-color: #1789ec;
    color: white;
}
.pagination span:hover:not(.active) {
    background-color: #ddd;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .pagination span {
        padding: 4px 8px;
    }
    .button {
        padding: 3px 7px;
        margin: 3px;
    }
}

.button {
    background-color: #1789ec;
    border-color: #1789ec;
    color: #ffffff;
    padding: 5px 10px;
    margin: 5px;
    letter-spacing: 1px;
    line-height: 1;
    outline: 0;
    cursor: pointer;
    border: 1px solid #808080;
    font-size: 0.8em;
    height: 25px;
}
.button:hover {
    background-color: #049fd9;
    border-color: #049fd9;
}

.button.button-disabled {
    opacity: 0.7;
}
.button.button-disabled:hover {
    background-color: #1789ec;
    cursor: not-allowed;
}

.button-blue-hollow {
    background-color: #ffffff;
    color: #1789ec;
    border: 1px solid #1789ec;
}
.button-blue-hollow:hover {
    background-color: #ffffff;
    color: #049fd9;
    border: 1px solid #049fd9;
}
.button-blue-hollow.button-disabled:hover {
    background-color: #ffffff;
    border: 1px solid #1789ec;
}

.page-loader-parent {
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page-loader {
    position: fixed;
    z-index: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}

.page-loader-content {
    position: absolute;
    width: 400px;
    top: 51%;
    left: 43%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(229, 229, 229);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 15px;
    padding: 20px;
}
.grid-container {
    background-color: #f2f2f2;
}

.grid-container a {
    text-decoration: none;
    background: transparent;
    color: inherit;
}
.grid-row {
    display: flex;
    justify-content: space-around;
    font-size: 0.8em;
    padding: 0.4em;
    border: 1px solid #ccc;
    border-top: none;
}
.grid-container a:nth-child(odd) .grid-row {
    background-color: #ddd;
}
.grid-container a .grid-row:hover {
    background-color: #eaf0f2;
    cursor: pointer;
}

.grid-row.grid-header {
    background-color: #ccc;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #ccc;
}

.grid-col {
    flex: 1 1;
    display: flex;
    justify-content: center;
    border-top: none;
}
.grid-col.grid-action {
    display: inline;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .grid-row {
        display: block;
    }
    .grid-row.grid-header {
        display: none;
    }
    .grid-row.grid-header+.grid-row {
        display: block;
        border: 1px solid #ccc;
    }
    .grid-col {
        display: block;
        text-align: right;
        padding: 2px;
    }
    .grid-col.grid-action {
        display: block;
        text-align: right;
    }
    .grid-col::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        font-size: 0.8em;
        text-transform: uppercase;
    }
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 0.4em;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover {
    background-color: #45a049;
} */

.form-container {
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 0.8em;
    border: 1px solid #ccc;
}

.form-label {
    float: left;
    width: 25%;
    margin-top: 6px;
    font-weight: 600;
}

.form-field {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.form-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .form-field,
    .form-label,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/* ===================================================== */

