.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    font-size: 0.8em;
}

table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

table tr:nth-child(even), table th {
    background-color: #ddd;
}

table td,
table th {
    padding: 0.5em;
    text-align: center;
}

table td:last-child {
    text-align: end;
}

table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.5em;
    }

    
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}

.pagination {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
    font-size: 0.8em;
}

.pagination span {
    color: #5b6a76;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination span.active {
    background-color: #1789ec;
    color: white;
}
.pagination span:hover:not(.active) {
    background-color: #ddd;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .pagination span {
        padding: 4px 8px;
    }
    .button {
        padding: 3px 7px;
        margin: 3px;
    }
}

.button {
    background-color: #1789ec;
    border-color: #1789ec;
    color: #ffffff;
    padding: 5px 10px;
    margin: 5px;
    letter-spacing: 1px;
    line-height: 1;
    outline: 0;
    cursor: pointer;
    border: 1px solid #808080;
    font-size: 0.8em;
}
.button:hover {
    background-color: #049fd9;
    border-color: #049fd9;
}

.button.button-disabled {
    opacity: 0.7;
}
.button.button-disabled:hover {
    background-color: #1789ec;
    cursor: not-allowed;
}

.button-blue-hollow {
    background-color: #ffffff;
    color: #1789ec;
    border: 1px solid #1789ec;
}
.button-blue-hollow:hover {
    background-color: #ffffff;
    color: #049fd9;
    border: 1px solid #049fd9;
}
.button-blue-hollow.button-disabled:hover {
    background-color: #ffffff;
    border: 1px solid #1789ec;
}

.page-loader-parent {
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page-loader {
    position: fixed;
    z-index: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}

.page-loader-content {
    position: absolute;
    width: 400px;
    top: 51%;
    left: 43%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(229, 229, 229);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    padding: 20px;
}